.attribution { font-size: 11px; text-align: center; position: absolute; bottom: 0; left: 0; right: 0; }
.attribution a { color: hsl(228, 45%, 44%); }

:root {
    --rad: 20px;
}

/* untuk garis pemisah */
hr {
    width: 100%;
    border: hsla(0, 0%, 59%, 20%) 1px solid;
    
}

main {
    width: 375px;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(0, 0%, 59%);
}

body {
    background-color: hsl(185, 75%, 39%);
    
}

.container {
    align-items: center;
    height: 100vh;
}

/* motif lingkaran untuk bg */
.pattern {
    position: fixed;
    z-index: -1;
}

/* lingkaran atas */
.top {
    left: -700px;
    top: -600px;
}

/* lingkaran bawah */
.bottom {
    right: -750px;
    bottom: -600px;
}

.group-1 h1{
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
    color: hsl(229, 23%, 23%);
}

/* untuk nama kota */
.location-info {
    position: relative;
    bottom: 20px;
}

/* flex command */
.sns-container, .image-container, .info-container, .profile-container, .group-1, .container, .sns {
    display: flex;
    
}

/* flex direction command */
.sns, .profile-container, .info-container {
    flex-direction: column;
}

.sns {
    margin-top: 0px;
}

.group-1 {
    align-items: center;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 0;
}

.profile-container {
    width: 90%;
    height: 400px;
    background-color: white;
    z-index: 1;
    border-radius: var(--rad);
    margin: auto;
}

.info-container {
    justify-content: center;
    align-items: center;
}

.image-container {
    height: 35%;
    border-top-right-radius: var(--rad);
    border-top-left-radius: var(--rad);
    background-image: url("images/bg-pattern-card.svg");
    background-repeat: repeat;
    justify-content: center;
    align-items: end;
}



.img-profile {
    border-radius: 50%;
    border: solid white 6px;
    position: relative;
    top: 50px;
}