.attribution { bottom: 0; font-size: 11px; left: 0; position: absolute; right: 0; text-align: center; }
.attribution a { color: rgb(62, 82, 163) ; color: hsl(228, 45%, 44%); }

:root {
    --rad: 20px;
    margin: 0;
    padding: 0;
}

/* untuk garis pemisah */
hr {
    border: 1px solid hsla(0, 0%, 59%, 20%);
    bottom: 20px;
    margin-bottom: -15px;
    position: relative;  
    width: 100%;
}

main {
    color: 	rgb(150, 150, 150);
    color: hsl(0, 0%, 59%);
    font-family: 'Kumbh Sans', sans-serif;
    width: 100vw;
}

body {
    background-color: rgb(25, 162, 174);
    background-color: hsl(185, 75%, 39%);
}

.container {
    align-items: center;
    height: 100vh;
    justify-content: center;
}

/* motif lingkaran untuk bg */
.pattern {
    position: fixed;
    z-index: -1;
}

/* lingkaran atas */
.top {
    left: -700px;
    top: -600px;
}

/* lingkaran bawah */
.bottom {
    bottom: -600px;
    right: -750px;
}

.group-1 h1{
    color: rgb(45, 50, 72);
    color: hsl(229, 23%, 23%);
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px;
}

/* untuk nama kota */
.location-info {
    bottom: 20px;
    position: relative;
}

/* flex command */
.sns-container, .image-container, .info-container, .profile-container, .group-1, .container, .sns {
    display: flex;
    
}

/* untk bold teks sns */
.sns-bold {
    color: rgb(45, 50, 72);
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: -10px;
}

/* untuk sub teks sns */
.sns-sub {
    font-size: 14px;
}

.sns-container {
    justify-content: center;
}

/* flex direction command */
.sns, .profile-container, .info-container {
    flex-direction: column;
}

/* mengatur tinggi sns-container */
.sns-container {
    height: 20%;
}

.sns {
    --marg: 20px;
    margin-left: var(--marg);
    margin-right: var(--marg);
    margin-top: 0;
    text-align: center;
}

.group-1 {
    align-items: center;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 60px;
}

.profile-container {
    background-color: white;
    border-radius: var(--rad);
    height: 400px;
    width: 337.5px;
    z-index: 1;
}

.info-container {
    align-items: center;
    justify-content: center;
}

.image-container {
    align-items: flex-end;
    background-image: url("images/bg-pattern-card.svg");
    border-top-left-radius: var(--rad);
    border-top-right-radius: var(--rad);
    height: 35%;
    justify-content: center;
}



.img-profile {
    border: solid white 6px;
    border-radius: 50%;
    position: relative;
    top: 50px;
}

@media only screen and (min-width: 768px) {
    /* lingkaran atas */
    .top {
        left: -200px;
        top: -600px;
    }

    /* lingkaran bawah */
    .bottom {
        bottom: -600px;
        right: -200px;
    }
}